/* ===================== */
/*     CONFIG GERAL      */
/* ===================== */

body {
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
    background: linear-gradient(1000deg, #4240b4, #4e184a);
    color: #ffffff;
}

/* Centralização global */
.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

/* ===================== */
/*        TÍTULOS        */
/* ===================== */

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #f0f0f0;
}

/* ===================== */
/*        FORMS          */
/* ===================== */

form {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 25px;
    width: 320px;
    margin: 25px auto;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.35);
    transition: transform 0.2s;
}

form:hover {
    transform: scale(1.02);
}

/* Inputs */
input[type="text"],
input[type="number"] {
    width: 80%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    font-size: 14px;
    transition: 0.3s;
    margin-left: 20px;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input:hover,
input:focus {
    background: rgba(255, 255, 255, 0.35);
}

/* Botões */
button,
input[type="submit"],
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background: #6a5af9;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover,
input[type="submit"]:hover {
    background: #5947ff;
}

/* Remove setas dos números */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


/* ===================== */
/*     LISTA DE ITENS    */
/* ===================== */

ul {
    padding: 0;
    margin-top: 30px;
    text-align: center;
}

li {
    list-style: none;
    background: rgba(255, 255, 255, 0.15);
    padding: 15px 20px;
    margin: 10px auto;
    width: 70%;
    border-radius: 12px;
    color: #fff;
    backdrop-filter: blur(8px);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    letter-spacing: .5px;
}
